# Treatment of data

## Import libraries

In [2]:
import pandas as pd
import numpy as np
import os

## Upload data

In [30]:
PATH_TO_DATA=os.path.join("..","Data")
FILE="data_2000_2020.csv"
df = pd.read_csv(os.path.join(PATH_TO_DATA,FILE))

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (12,15,16,17,18,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Columns to drop

We drop these columns either because they contain info that are not available before the tennis game takes place or because they contain too many values that would make the number of columns after the one-hot encoding way too big.

In [5]:
liste = ['W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5','Wsets', 'Lsets','Location', 'Tournament', 'MaxW',	'MaxL',	'AvgW',	'AvgL']
df = df.drop(liste, axis = 1)

## Get info on dataframe

This function allows us to get a list of the colums with the number of values, the number of null values and their type. 

The argument 'only_empty = True' makes the function send back only columns that have null values

In [6]:
def get_info_columns(df,only_empty=True):
    df_info=pd.DataFrame()
    cols=[]
    isnull=[]
    count_values=[]
    type_cols=[]
    for col in df.columns:
      if only_empty:
        if df[col].isnull().sum() >0:
          #if col=="Location":
          cols.append(col)
          isnull.append(df[col].isnull().sum())
          count_values.append(len(df[col].value_counts()))
          type_cols.append(df[col].dtype)
          #print("*"*5,'\n',"col:",col,"\nNulles",df[col].isnull().sum(),"\nvalue counts",len(df[col].value_counts()),"\ntype",df[col].dtype,"\n")
      else:
        cols.append(col)
        isnull.append(df[col].isnull().sum())
        count_values.append(len(df[col].value_counts()))
        type_cols.append(df[col].dtype)

    df_info["cols"]=cols
    df_info["isnull"]=isnull
    df_info["count_values"]=count_values
    df_info["type_cols"]=type_cols
    
    return df_info

In [7]:
info = get_info_columns(df,only_empty=False)

## Sort players by rank to reduce number of values 

20 premiers -> garde leur noms 
20-50 -> "classé-20-50"
50-100 -> "classé-20-50"
100-200 -> "classé-100-200"
200-500 -> "classé-200-500"
500-1000 -> "classé-500-1000"

In [8]:
df["LRank"] = pd.to_numeric(df["LRank"], errors='coerce')

In [9]:
df.loc[(df['WRank'] > 15) & (df['WRank'] <= 25),'Winner'] = "classé-15-25"
df.loc[(df['WRank'] > 25) & (df['WRank'] <= 50),'Winner'] = "classé-25-50"
df.loc[(df['WRank'] > 50) & (df['WRank'] <= 100),'Winner'] = "classé-50-100"
df.loc[(df['WRank'] > 100) & (df['WRank'] <= 200),'Winner'] = "classé-100-200"
df.loc[(df['WRank'] > 200) & (df['WRank'] <= 500),'Winner'] = "classé-200-500"
df.loc[(df['WRank'] > 500) & (df['WRank'] <= 1000),'Winner'] = "classé-500-1000"
df.loc[(df['WRank'] >1000),'Winner'] = "classé-plus-de-1000"

In [10]:
df.loc[(df['LRank'] > 15) & (df['LRank'] <= 25),'Loser'] = "classé-15-25"
df.loc[(df['LRank'] > 25) & (df['LRank'] <= 50),'Loser'] = "classé-25-50"
df.loc[(df['LRank'] > 50) & (df['LRank'] <= 100),'Loser'] = "classé-50-100"
df.loc[(df['LRank'] > 100) & (df['LRank'] <= 200),'Loser'] = "classé-100-200"
df.loc[(df['LRank'] > 200) & (df['LRank'] <= 500),'Loser'] = "classé-200-500"
df.loc[(df['LRank'] > 500) & (df['LRank'] <= 1000),'Loser'] = "classé-500-1000"
df.loc[(df['LRank'] >1000),'Loser'] = "classé-plus-de-1000"

## Player names

### Players that appear with 2 different syntaxes for their name : 

This part was done by hand but we could have found a way to automize it with a for loop. 

Some players were had an additionnal blank in their name which made the algorithm believe they were two disctinct players instead of one so we tried to fix this.

In [11]:
df.loc[(df['Winner'] == 'Djokovic N. '), 'Winner'] = 'Djokovic N.'
df.loc[(df['Winner'] == 'Federer R. '), 'Winner'] = 'Federer R.'
df.loc[(df['Winner'] == 'Nadal R. '), 'Winner'] = 'Nadal R.'
df.loc[(df['Winner'] == 'Murray A. '), 'Winner'] = 'Murray A.'
df.loc[(df['Winner'] == 'Roddick A. '), 'Winner'] = 'Roddick A.'
df.loc[(df['Winner'] == 'Davydenko N. '), 'Winner'] = 'Davydenko N.'
df.loc[(df['Winner'] == 'Verdasco F. '), 'Winner'] = 'Verdasco F.'
df.loc[(df['Winner'] == 'Ferrero J.C. '), 'Winner'] = 'Ferrero J.C.'
df.loc[(df['Winner'] == 'Simon G. '), 'Winner'] = 'Simon G.'
df.loc[(df['Winner'] == 'Cilic M. '), 'Winner'] = 'Cilic M.'
df.loc[(df['Winner'] == 'Thiem D. '), 'Winner'] = 'Thiem D.'
df.loc[(df['Winner'] == 'Robredo T. '), 'Winner'] = 'Robredo T.'
df.loc[(df['Winner'] == 'Zverev A. '), 'Winner'] = 'Zverev A.'
df.loc[(df['Winner'] == 'Stepanek R. '), 'Winner'] = 'Stepanek R.'
df.loc[(df['Winner'] == 'Tsitsipas S. '), 'Winner'] = 'Tsitsipas S.'
df.loc[(df['Winner'] == 'Bautista Agut R.'), 'Winner'] = 'Bautista R.'
df.loc[(df['Winner'] == 'Berrettini M. '), 'Winner'] = 'Berrettini M.'
df.loc[(df['Winner'] == 'Stepanek R. '), 'Winner'] = 'Stepanek R.'

In [12]:
df.loc[(df['Loser'] == 'Djokovic N. '), 'Loser'] = 'Djokovic N.'
df.loc[(df['Loser'] == 'Federer R. '), 'Loser'] = 'Federer R.'
df.loc[(df['Loser'] == 'Nadal R. '), 'Loser'] = 'Nadal R.'
df.loc[(df['Loser'] == 'Murray A. '), 'Loser'] = 'Murray A.'
df.loc[(df['Loser'] == 'Roddick A. '), 'Loser'] = 'Roddick A.'
df.loc[(df['Loser'] == 'Davydenko N. '), 'Loser'] = 'Davydenko N.'
df.loc[(df['Loser'] == 'Verdasco F. '), 'Loser'] = 'Verdasco F.'
df.loc[(df['Loser'] == 'Ferrero J.C. '), 'Loser'] = 'Ferrero J.C.'
df.loc[(df['Loser'] == 'Simon G. '), 'Loser'] = 'Simon G.'
df.loc[(df['Loser'] == 'Cilic M. '), 'Loser'] = 'Cilic M.'
df.loc[(df['Loser'] == 'Thiem D. '), 'Loser'] = 'Thiem D.'
df.loc[(df['Loser'] == 'Robredo T. '), 'Loser'] = 'Robredo T.'
df.loc[(df['Loser'] == 'Zverev A. '), 'Loser'] = 'Zverev A.'
df.loc[(df['Loser'] == 'Stepanek R. '), 'Loser'] = 'Stepanek R.'
df.loc[(df['Loser'] == 'Tsitsipas S. '), 'Loser'] = 'Tsitsipas S.'
df.loc[(df['Loser'] == 'Bautista Agut R.'), 'Loser'] = 'Bautista R.'
df.loc[(df['Loser'] == 'Berrettini M. '), 'Loser'] = 'Berrettini M.'
df.loc[(df['Loser'] == 'Stepanek R. '), 'Loser'] = 'Stepanek R.'
df.loc[(df['Loser'] == 'Tsonga J.W. '), 'Loser'] = 'Tsonga J.W.'
df.loc[(df['Loser'] == 'Gonzalez F. '), 'Loser'] = 'Gonzalez F.'

### Create Player 0, Player 1 and winner

Player 1 = player with best rank between winner and loser 

Player 0 = the other player

winner = 0 or 1 according to which player won 

index of columns to use iloc :

Winner : 9                                                 
Loser : 10                                                  
WRank : 11                                                 
Lrank : 12                          

player0 : 42                                               
player1 : 43                                                
winner : 44

In [13]:
df["player0"] = "0"  
df["player1"] = "0"  
df["winner"] = "0"

In [14]:
df_test = df
df_test.loc[(df_test['LRank'] > df_test['WRank']),'player0'] = df_test.loc[(df_test['LRank'] > df_test['WRank']),'Loser']
df_test.loc[(df_test['LRank'] > df_test['WRank']),'player1'] = df_test.loc[(df_test['LRank'] > df_test['WRank']),'Winner']
df_test.loc[(df_test['LRank'] > df_test['WRank']),'winner'] = 1

df_test.loc[(df_test['LRank'] <= df_test['WRank']),'player0'] = df_test.loc[(df_test['LRank'] <= df_test['WRank']),'Winner']
df_test.loc[(df_test['LRank'] <= df_test['WRank']),'player1'] = df_test.loc[(df_test['LRank'] <= df_test['WRank']),'Loser']
df_test.loc[(df_test['LRank'] <= df_test['WRank']),'winner'] = 0

In [15]:
#df_test.drop(df_test['player0'] == '0' | df_test['player1'] == '0')
df_test.drop(df_test[df_test['player0'] == '0'].index, axis=0, inplace=True)
df_test.drop(df_test[df_test['player1'] == '0'].index, axis=0, inplace=True)

In [16]:
df = df_test

higher rank (worst player) as player 0  
mieux classé a le plus petit Rank 
for i in range(0,len(df_test)):
  if (df_test.iloc[i,11] < df_test.iloc[i,12]): #WRank < LRank (winner better ranked) # winner -> player1 #loser -> player0 #rand = 1  
    df_test.iloc[i,43] = df_test.iloc[i,9]
    df_test.iloc[i,42] = df_test.iloc[i,10]
    df_test.iloc[i,44] = 1
  else: #winer -> player0 loser -> player1
    df_test.iloc[i,43] = df_test.iloc[i,10]
    df_test.iloc[i,42] = df_test.iloc[i,9]
    df_test.iloc[i,44] = 0

### Create columns to associate variables to player 1 and 0 instead of W and L

In [17]:
dfW = df_test[df_test["WRank"] < df_test['LRank']] 
dfW = dfW.rename(columns={"WRank": "RankP1", "LRank": "RankP0",'WPts' : 'PtsP1', 'LPts' :'PtsP0' ,'B365W' : 'B365P1', 'B365L' : 'B365P0', 'CBW' : 'CBP1', 'CBL' : 'CBP0',
       'EXW' : 'EXP1','B&WW': 'B&WP1','B&WL': 'B&WP0', 'EXL' : 'EXP0', 'IWW' : 'IWP1', 'IWL' : 'IWP0', 'PSW': 'PSP1', 'PSL':'PSP0', 'UBW' : 'UBP1', 'UBL': 'UBP0', 'LBW':'LBP1', 'LBL':'LBP0',
       'SJW' : 'SJP1', 'SJL' : 'SJP0', 'MaxW' : 'MaxP1', 'MaxL' : 'MaxP0', 'AvgW' : 'AvgP1', 'AvgL' : 'AvgP0' , 'SBW':"SBP1", 'SBL':'SBP0'})

In [18]:
dfL = df_test[df_test["WRank"] >= df_test['LRank']] 
dfL = dfL.rename(columns={"WRank": "RankP0", "LRank": "RankP1",'WPts' : 'PtsP0', 'LPts' :'PtsP1' ,'B365W' : 'B365P0', 'B365L' : 'B365P1', 'CBW' : 'CBP0', 'CBL' : 'CBP1',
       'EXW' : 'EXP0', 'B&WW': 'B&WP0','B&WL': 'B&WP1','EXL' : 'EXP1', 'IWW' : 'IWP0', 'IWL' : 'IWP1', 'PSW': 'PSP0', 'PSL':'PSP1', 'UBW' : 'UBP0', 'UBL': 'UBP1', 'LBW':'LBP0', 'LBL':'LBP1',
       'SJW' : 'SJP0', 'SJL' : 'SJP1', 'MaxW' : 'MaxP0', 'MaxL' : 'MaxP1', 'AvgW' : 'AvgP0', 'AvgL' : 'AvgP1' , 'SBW':"SBP0", 'SBL':'SBP1'})

### Now combine the 2 dataframes again

In [19]:
dfc = pd.concat([dfW, dfL], ignore_index=True)
df = dfc.sort_values(by="Date")
df = df.drop(['Winner','Loser'], axis = 1)

## Null Values

### Check columns types and delete na

In [20]:
df_info = get_info_columns(df)

### To numeric

In [21]:
df["winner"] = pd.to_numeric(df["winner"], errors='coerce')
df["EXP0"] = pd.to_numeric(df["EXP0"], errors='coerce')
df["EXP1"] = pd.to_numeric(df["EXP1"], errors='coerce')

### Fill empty spots

In [22]:
df_info=get_info_columns(df,only_empty = True)
list_col_empty = df_info.cols
for col in list_col_empty:
  df.loc[df[col].isna()==True,col] = df.loc[:,col].mean()

## One Hot encoding

In [23]:
cols_to_dumb = ['Series', 'Court', 'Surface', 'Round', 'Comment', 'player0','player1']
df_dumb = pd.get_dummies(df, prefix=None, prefix_sep='_', dummy_na=False, columns=cols_to_dumb, drop_first=False, dtype=None)
df = df_dumb

## Treatment for the dates 

We divide the date which was in the format day-month-year in three columns and make them numeric.

In [25]:
df['Annee'] = df['Date'].astype(str).str[2:4]
df['Mois'] = df['Date'].astype(str).str[6:7]
df['Jour'] = df['Date'].astype(str).str[8:10]

In [26]:
df["Annee"] = pd.to_numeric(df["Annee"], errors='coerce')
df["Mois"] = pd.to_numeric(df["Mois"], errors='coerce')
df["Jour"] = pd.to_numeric(df["Jour"], errors='coerce')

In [27]:
df = df.drop(['Date'], axis = 1)

In [28]:
df

,ATP,Best of,RankP1,RankP0,CBP1,CBP0,GBW,GBL,IWP1,IWP0,...,player1_Zverev A.,player1_classé-100-200,player1_classé-15-25,player1_classé-200-500,player1_classé-25-50,player1_classé-50-100,player1_classé-500-1000,Annee,Mois,Jour
0,1,3,18.0,101.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,1,0,0,0,0,1,1,1
73293,3,3,5.0,76.0,1.280000,3.250000,2.550000,1.350000,1.200000,2.800000,...,0,0,0,0,0,0,0,1,1,1
73294,3,3,20.0,46.0,1.420000,2.600000,2.350000,1.420000,1.450000,2.000000,...,0,0,1,0,0,0,0,1,1,1
73295,3,3,48.0,76.0,1.420000,2.700000,2.150000,1.500000,1.450000,2.000000,...,0,0,0,0,1,0,0,1,1,1
74367,1,3,67.0,127.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,0,0,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73254,32,3,1.0,7.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,0,0,0,0,0,20,1,20
73255,32,3,4.0,9.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,0,0,0,0,0,20,1,20
110529,32,3,1.0,3.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,0,0,0,0,0,20,1,21
110530,32,3,2.0,4.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,0,0,0,0,0,20,1,21
110531,32,3,3.0,4.0,1.578642,3.174237,1.732327,2.376439,1.496667,2.536149,...,0,0,0,0,0,0,0,20,1,22

##Write dataframe in csv file

In [31]:
NEW_FILE="clean_data.csv"
df.to_csv(os.path.join(PATH_TO_DATA,NEW_FILE), index=False)